<!DOCTYPE html>
<html>
<head>
	<title>Intro to Programming Notes</title>
	<link rel="stylesheet" type="text/css" href="base.css">
</head>
<header>
	<div class="navigation-bar">
		<ul>
			<li><a href="stage1.html">Stage 1</a></li>
			<li><a href="H:\desk\My Documents\Udacity Portfolio\Notes\templates\stage2.html">Stage 2</a></li>
			<li><a href="H:\desk\My Documents\Udacity Portfolio\Notes\templates\stage3.html">Stage 3</a></li>
			<li><a href="H:\desk\My Documents\Udacity Portfolio\Notes\templates\stage4.html">Stage 4</a></li>
		</ul>
	</div>
</header>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>